<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>

    <!-- 課題９．６．５で削除
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation %>
    -->
    <!-- 9.6.5でパーシャル追加-->
    <%= render'fields',f: f %>
    <!-- ここまで -->

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>

    <%= gravatar_for @user %>
    <!--課題９．６．２で削除<a href="http://gravatar.com/emails">change</a> -->
    <%= link_to "change", "http://gravatar.com/emails", target: ["_blank"] %>
    <!-- 上記９．６．２で追加 -->
  </div>
</div>